<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853961390324-i5h87er5f8s5dgupaom66gbko2j42bcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853961390324-i5h87er5f8s5dgupaom66gbko2j42bcl</string>
	<key>API_KEY</key>
	<string>AIzaSyDIosLqybie0y4ORySEwn4SgSBTFzEVxGE</string>
	<key>GCM_SENDER_ID</key>
	<string>853961390324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MeasuredGolfApp.IOS</string>
	<key>PROJECT_ID</key>
	<string>measured-golf</string>
	<key>STORAGE_BUCKET</key>
	<string>measured-golf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853961390324:ios:d20d4892284286e7be06a1</string>
</dict>
</plist>